.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

.board {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  height: 300px;
  width: 300px;
}

.square {
  height: 100px;
  width: 100px;
  border: 1px solid #333;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cross {
  color: red;
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  text-align: center;
}

.circle {
  color: blue;
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  text-align: center;
}

.reset {
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 100px;
  cursor: pointer;
}

.status {
  margin: 4rem;
}